
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

body, html {
  height: 100%;
  background-color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/easter-team-photo.jpg");
  height: 80%;
  background-position: center 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.hero-text img {
  height: 50px;
  width: 50px;
  z-index: 20;
}

.hero-text h1 {
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  z-index: 5;
  color: white;
  font-size: 90px;
  text-shadow: 3px 3px 0 hsl(200, 85%, 50%);
}


h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 35px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

.grid {
  display: grid;
  width: inherit;
  height: 800px;
  grid-column-gap: 100px;
  grid-template: repeat(15, 1fr) / repeat(12, 1fr);
  z-index: 11;
}

.left-box {
  grid-area: 2 / 2 / 8 / 7;
  text-align: center;
  padding: 20px 20px;
  border: 5px solid hsl(200, 85%, 50%);
  box-shadow: 10px 10px 8px grey;
}

.right-box {
  grid-area: 2 / 7 / 8 / 12;
  text-align: center;
  padding: 20px 20px;
  border: 5px solid hsl(200, 85%, 50%);
  box-shadow: 10px 10px 8px grey;
}

header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(hsl(200, 85%, 50%), hsl(200, 85%, 40%));
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  height: 25px;
  z-index: 10;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}

.tabs {
  padding-left: 180px;
}

.tabs button {
  border-radius: 0px;
  padding-left: 30px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  line-height:
}

.tabs button:hover {
  color: white;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color:inherit;
}

a:visited {
  color:inherit;
}

#learn-more {
  background-color: hsl(200, 85%, 50%);
  border: 2px solid hsl(200, 85%, 50%);
  border-radius: 25px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.2s;
  position: relative;
  top: 25px;
}

#learn-more:hover {
  background-color: white;
  color: hsl(200, 85%, 50%);
  border: 2px solid hsl(200, 85%, 50%);
}

.banner {
  background-color: hsl(200, 85%, 50%);
  height: 200px;
}
