---
layout: default
title: Coaches
---
<div class="description">
  <p>Staff at Wolves basketball are all local basketball players, with experience coaching both school, and Otago representative teams.</p>
  <p>All coaches are police vetted and first aid trained. Noice!</p>
</div>

{% for coach in site.coaches %}
  <div class="coach">
    <h2><img src="{{ coach.image_path }}" alt="{{ coach.title }}">{{ coach.title }}</h2>
    {{ coach.content }}
  </div>
{% endfor %}
