---
layout: default
title: Home
---
<div class="hero-image">
  <div class="hero-text">
    <!-- <img src="../images/wolf-logo.jpg" alt="logo"/> -->
    <h1>Wolves Basketball</h1>
  </div>
</div>

<!-- the grid -->
<div class="grid">
  <div id="academy" class="left-box">
    <div id="highlight">
      <h2><u>Academy</u></h2>
    </div>
    <br><br>

    <div>
      <p>Monday / Wednesday / Friday <br> 7am at the Edgar Centre</p>
      <p>Contact: darcyknox@outlook.com  <br><br> All welcome</p>
    </div>
  </div>

  <div id="camps" class="right-box">
    <h2><u>Camps</u></h2>
    <br><br>
    <p>2 day skill camps throughout the Otago region <br>Hosted by Wolves coaches<br><br> Next camp: June (Wanaka)</p>
    <button id="learn-more" type="button" name="learn-more"><a href="camps.html">Learn more</a></button>
  </div>
</div>
