<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet">
    <title>Wolves Basketball | title</title>
  </head>
  <body>
    <header>
      <div class="tabs">
        <button type="button" name="home"><a href="./index.html">Home</a></button>
        <button type="button" name="academy"><a href="./academy.html">Academy</a></button>
        <button type="button" name="coaches"><a href="./coaches.html">Coaches</a></button>
      </div>
    </header>
    <div class="content">
      {{ content }}
    </div>
    <div class="banner">

    </div>
  </body>
</html>
